* {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  background: #ffe;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.calculate {
  padding: 2rem;
  margin: auto;
}

.content {
  border: solid 1px #000;
  background: #ac073e;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 332px;
  box-shadow: 4px 4px 8px rgb(48, 45, 45);
}

.content .result {
  background: #fff;
  width: 100%;
  height: 3.2rem;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(80, 74, 74);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row button {
  min-height: 60px;
  min-width: 60px;
  margin: 0.2rem;
  box-shadow: 1px 1px 1px #000;
  border-radius: 0.4rem;
  background: #5e0323;
  color: #fff;
  font-weight: bold;
}

.row button:hover {
  background: #6d0328;
  cursor: pointer;
}

button.btnC {
  grid-column: 1 / span 2;
}

button.btnZero {
  grid-column: 1 / span 2;
}

button.btnEqual {
  grid-column: 4;
  grid-row: 4 / 6;
}

.btnBigger {
  font-size: 1.2rem;
}
